Rare diseases with associated phenotypes/img/fair/product7_19022018.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JDBOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DisorderList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Disorder">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrphaNumber" type="xs:integer" />
                    <xs:element name="ExpertLink">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="lang" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="lang" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DisorderDisorderAssociationList">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="DisorderDisorderAssociation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Disorder1">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element name="OrphaNumber" type="xs:integer" />
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                    <xs:attribute name="cycle" type="xs:boolean" use="optional" />
                                  </xs:complexType>
								<!--
								An attribute "cycle=true" is added in the case of an auto-reference of a parent-disorder or a child-disorder for a same concept in order to avoid creating a loop. In this case, the Name and Orphanumber of parent-disorder or child-disorder are not displayed again.
								-->
                                </xs:element>
                                <xs:element name="Disorder2">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element name="OrphaNumber" type="xs:integer" />
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                    <xs:attribute name="cycle" type="xs:boolean" use="optional" />
                                  </xs:complexType>
								<!--
								An attribute "cycle=true" is added in the case of an auto-reference of a parent-disorder or a child-disorder for a same concept in order to avoid creating a loop. In this case, the Name and Orphanumber of parent-disorder or child-disorder are not displayed again.
								-->								  
                                </xs:element>
                                <xs:element name="DisorderDisorderAssociationType">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                  </xs:complexType>
									<!--
									Defines the association between Disorder1 and Disorder2. 
									The relation goes Disorder2 to Disorder1.
									Exemples: Disorder2 "moved to" Disorder1 ; Disorder2 "referred to" Disorder1.
									-->								  
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="count" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="date" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="copyright" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>