Rare diseases with associated phenotypes/img/fair/product6_2020_v2.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="JDBOR">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DisorderList">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Disorder">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="OrphaNumber" type="xsd:integer" />
                    <xsd:element name="Name">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="lang" type="xsd:string" use="required" />
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
					<!--
					DisorderType: can be either Disease, Clinical syndrome, Malformation syndrome, Biological anomaly,
					Morphological anomaly, Clinical group, Etiological subtype, Clinical subtype,
					Histopathological subtype or Particular clinical situation in a disease or syndrome					
					-->
					<xsd:element name="DisorderType" minOccurs="1" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
							<xsd:sequence>
								<xsd:element name="Name">
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">													
												<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>												
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<!--
					DisorderGroup: can be either Group of disorders, Disorders or Subtype of disorder"
					-->
					<xsd:element name="DisorderGroup" minOccurs="1" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
							<xsd:sequence>
								<xsd:element name="Name">
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">													
												<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>												
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
                    <xsd:element name="DisorderGeneAssociationList">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="DisorderGeneAssociation">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SourceOfValidation" type="xsd:string" />
                                <xsd:element name="Gene">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" use="required" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="Symbol" type="xsd:string" />
                                      <xsd:element name="SynonymList">
                                        <xsd:complexType mixed="true">
                                          <xsd:sequence minOccurs="0">
                                            <xsd:element maxOccurs="unbounded" name="Synonym">
                                              <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                    <xsd:attribute name="lang" type="xsd:string" use="required" />
                                                  </xsd:extension>
                                                </xsd:simpleContent>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                          <xsd:attribute name="count" type="xsd:integer" use="required" />
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="GeneType">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="Name">
                                              <xsd:complexType>
                                                <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                    <xsd:attribute name="lang" type="xsd:string" use="required" />
                                                  </xsd:extension>
                                                </xsd:simpleContent>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                          <xsd:attribute name="id" type="xsd:integer" use="required" />
                                        </xsd:complexType>
                                      </xsd:element>
                                      <xsd:element name="LocusList">
                                        <xsd:complexType mixed="true">
                                          <xsd:sequence minOccurs="0">
                                            <xsd:element maxOccurs="unbounded" name="Locus">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="GeneLocus" type="xsd:string" />
                                                </xsd:sequence>
                                                <xsd:attribute name="id" type="xsd:integer" use="required" />
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                          <xsd:attribute name="count" type="xsd:integer" use="required" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" use="required" />
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="DisorderGeneAssociationType">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" use="required" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" use="required" />
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="DisorderGeneAssociationStatus">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" use="required" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" use="required" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="count" type="xsd:integer" use="required" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="id" type="xsd:integer" use="required" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="count" type="xsd:integer" use="required" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="date" type="xsd:string" use="required" />
      <xsd:attribute name="version" type="xsd:string" use="required" />
      <xsd:attribute name="copyright" type="xsd:string" use="required" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>