Rare diseases with associated phenotypes/img/fair/produit_6_1902018.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JDBOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DisorderList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Disorder">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrphaNumber" type="xs:integer" />
                    <xs:element name="Name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="lang" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DisorderGeneAssociationList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="DisorderGeneAssociation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SourceOfValidation" type="xs:string" />
                                <xs:element name="Gene">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="OrphaNumber" type="xs:integer" />
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Symbol" type="xs:string" />
                                      <xs:element name="SynonymList">
                                        <xs:complexType mixed="true">
                                          <xs:sequence minOccurs="0">
                                            <xs:element maxOccurs="unbounded" name="Synonym">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="lang" type="xs:string" use="required" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="count" type="xs:integer" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="GeneType">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="OrphaNumber" type="xs:integer" />
                                            <xs:element name="Name">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="lang" type="xs:string" use="required" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:integer" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="LocusList">
                                        <xs:complexType mixed="true">
                                          <xs:sequence minOccurs="0">
                                            <xs:element maxOccurs="unbounded" name="Locus">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="GeneLocus" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:integer" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="count" type="xs:integer" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DisorderGeneAssociationType">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DisorderGeneAssociationStatus">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="count" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="date" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="copyright" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>