Rare diseases with associated phenotypes/img/fair/product4_HPO_07122017.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JDBOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DisorderList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Disorder">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrphaNumber" type="xs:integer" />
                    <xs:element name="Name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="lang" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="HPODisorderAssociationList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="HPODisorderAssociation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="HPO">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="HPOId" type="xs:string" />
                                      <xs:element name="HPOTerm" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="HPOFrequency">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="OrphaNumber" type="xs:integer" />
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DiagnosticCriteria" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="OrphaNumber" type="xs:integer" minOccurs="0" maxOccurs="unbounded" />
                                      <xs:element name="Name" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer"  />
                                  </xs:complexType>
								</xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="count" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="date" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="copyright" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>