Rare diseases with associated phenotypes/img/fair/product1_2020.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="JDBOR">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DisorderList">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="Disorder">
                <xsd:complexType mixed="true">
                  <xsd:sequence>
                    <xsd:annotation>
                      <xsd:documentation>
									DisorderGroup: can be either Group of disorders, Disorders or Subtype of disorder"
									</xsd:documentation>
                    </xsd:annotation>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="OrphaNumber" type="xsd:integer" />
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="ExpertLink">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="lang" type="xsd:string" />
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="Name">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="lang" type="xsd:string" />
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="DisorderFlagList">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DisorderFlag">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Label" type="xsd:string" />
                              </xsd:sequence>
                              <xsd:attribute name="id" type="xsd:integer" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="count" type="xsd:integer" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="SynonymList">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Synonym">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                  <xsd:attribute name="lang" type="xsd:string" />
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="count" type="xsd:integer" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="DisorderType">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Name">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                  <xsd:attribute name="lang" type="xsd:string" />
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:integer" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="DisorderGroup">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Name">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                  <xsd:attribute name="lang" type="xsd:string" />
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:integer" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="ExternalReferenceList">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ExternalReference">
                            <xsd:complexType mixed="true">
                              <xsd:sequence>
                                <xsd:element name="Source" type="xsd:string" />
                                <xsd:element name="Reference" type="xsd:string" />
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DisorderMappingRelation">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" />
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DisorderMappingICDRelation">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" />
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DisorderMappingValidationStatus">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="count" type="xsd:integer" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="DisorderDisorderAssociationList">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DisorderDisorderAssociation">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Disorder1">
                                  <xsd:annotation>
                                    <xsd:documentation>
																An attribute "cycle=true" is added in the case of an auto-reference of a parent-disorder or a child-disorder for a same concept in order to avoid creating a loop. In this case, the Name and Orphanumber of parent-disorder or child-disorder are not displayed again.
																</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrphaNumber" type="xsd:integer" />
                                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" />
                                    <xsd:attribute default="true" name="cycle" type="xsd:string" use="optional" />
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Disorder2">
                                  <xsd:annotation>
                                    <xsd:documentation>
																An attribute "cycle=true" is added in the case of an auto-reference of a parent-disorder or a child-disorder for a same concept in order to avoid creating a loop. In this case, the Name and Orphanumber of parent-disorder or child-disorder are not displayed again.
																</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrphaNumber" type="xsd:integer" />
                                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" />
                                    <xsd:attribute default="true" name="cycle" type="xsd:string" use="optional" />
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DisorderDisorderAssociationType">
                                  <xsd:complexType>
                                    <xsd:annotation>
                                      <xsd:documentation>
																	Defines the association between Disorder1 and Disorder2. 
																	The relation goes Disorder2 to Disorder1.
																	Exemples: Disorder2 "moved to" Disorder1 ; Disorder2 "referred to" Disorder1.
																	</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:sequence>
                                      <xsd:element name="Name">
                                        <xsd:complexType>
                                          <xsd:simpleContent>
                                            <xsd:extension base="xsd:string">
                                              <xsd:attribute name="lang" type="xsd:string" />
                                            </xsd:extension>
                                          </xsd:simpleContent>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:integer" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="count" type="xsd:integer" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="TextualInformationList">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TextualInformation">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TextSectionList">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="TextSection">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TextSectionType">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Name">
                                                    <xsd:complexType>
                                                      <xsd:simpleContent>
                                                        <xsd:extension base="xsd:string">
                                                          <xsd:attribute name="lang" type="xsd:string" />
                                                        </xsd:extension>
                                                      </xsd:simpleContent>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="id" type="xsd:integer" />
                                              </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="Contents" type="xsd:string" />
                                          </xsd:sequence>
                                          <xsd:attribute name="id" type="xsd:integer" />
                                          <xsd:attribute name="lang" type="xsd:string" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="count" type="xsd:integer" />
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:attribute name="id" type="xsd:integer" />
                              <xsd:attribute name="lang" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="count" type="xsd:integer" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="TextAuto">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Info">
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                  <xsd:attribute name="lang" type="xsd:string" />
                                </xsd:extension>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="id" type="xsd:integer" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="count" type="xsd:integer" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="date" type="xsd:string" />
      <xsd:attribute name="version" type="xsd:string" />
      <xsd:attribute name="copyright" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
