Rare diseases with associated phenotypes/img/fair/product3_187_06122017.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JDBOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DisorderList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Disorder">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrphaNumber" type="xs:integer" />
                    <xs:element name="ExpertLink">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="lang" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="lang" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ClassificationNodeList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ClassificationNode">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ClassificationNodeChildList">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="ClassificationNode">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Disorder">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="OrphaNumber" type="xs:integer" />
                                                  <xs:element name="ExpertLink">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="lang" type="xs:string" use="required" />
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Name">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="lang" type="xs:string" use="required" />
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:integer" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="ClassificationNodeChildList">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="ClassificationNode">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="Disorder">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="OrphaNumber" type="xs:integer" />
                                                              <xs:element name="ExpertLink">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute name="lang" type="xs:string" use="required" />
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="Name">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute name="lang" type="xs:string" use="required" />
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="id" type="xs:integer" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="ClassificationNodeChildList">
                                                          <xs:complexType mixed="true">
                                                            <xs:sequence minOccurs="0">
                                                              <xs:element maxOccurs="unbounded" name="ClassificationNode">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="Disorder">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="OrphaNumber" type="xs:integer" />
                                                                          <xs:element name="ExpertLink">
                                                                            <xs:complexType>
                                                                              <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                  <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                </xs:extension>
                                                                              </xs:simpleContent>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="Name">
                                                                            <xs:complexType>
                                                                              <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                  <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                </xs:extension>
                                                                              </xs:simpleContent>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="id" type="xs:integer" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="ClassificationNodeChildList">
                                                                      <xs:complexType mixed="true">
                                                                        <xs:sequence minOccurs="0">
                                                                          <xs:element maxOccurs="unbounded" name="ClassificationNode">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="Disorder">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element name="OrphaNumber" type="xs:integer" />
                                                                                      <xs:element name="ExpertLink">
                                                                                        <xs:complexType>
                                                                                          <xs:simpleContent>
                                                                                            <xs:extension base="xs:string">
                                                                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                            </xs:extension>
                                                                                          </xs:simpleContent>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                      <xs:element name="Name">
                                                                                        <xs:complexType>
                                                                                          <xs:simpleContent>
                                                                                            <xs:extension base="xs:string">
                                                                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                            </xs:extension>
                                                                                          </xs:simpleContent>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element name="ClassificationNodeChildList">
                                                                                  <xs:complexType mixed="true">
                                                                                    <xs:sequence minOccurs="0">
                                                                                      <xs:element maxOccurs="unbounded" name="ClassificationNode">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="Disorder">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element name="OrphaNumber" type="xs:integer" />
                                                                                                  <xs:element name="ExpertLink">
                                                                                                    <xs:complexType>
                                                                                                      <xs:simpleContent>
                                                                                                        <xs:extension base="xs:string">
                                                                                                          <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                                        </xs:extension>
                                                                                                      </xs:simpleContent>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                  <xs:element name="Name">
                                                                                                    <xs:complexType>
                                                                                                      <xs:simpleContent>
                                                                                                        <xs:extension base="xs:string">
                                                                                                          <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                                        </xs:extension>
                                                                                                      </xs:simpleContent>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute name="id" type="xs:integer" use="required" />
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                            <xs:element name="ClassificationNodeChildList">
                                                                                              <xs:complexType mixed="true">
                                                                                                <xs:sequence minOccurs="0">
                                                                                                  <xs:element maxOccurs="unbounded" name="ClassificationNode">
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="Disorder">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element name="OrphaNumber" type="xs:integer" />
                                                                                                              <xs:element name="ExpertLink">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:simpleContent>
                                                                                                                    <xs:extension base="xs:string">
                                                                                                                      <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                                                    </xs:extension>
                                                                                                                  </xs:simpleContent>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                              <xs:element name="Name">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:simpleContent>
                                                                                                                    <xs:extension base="xs:string">
                                                                                                                      <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                                                    </xs:extension>
                                                                                                                  </xs:simpleContent>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute name="id" type="xs:integer" use="required" />
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element name="ClassificationNodeChildList">
                                                                                                          <xs:complexType mixed="true">
                                                                                                            <xs:sequence minOccurs="0">
                                                                                                              <xs:element maxOccurs="unbounded" name="ClassificationNode">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element name="Disorder">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element name="OrphaNumber" type="xs:integer" />
                                                                                                                          <xs:element name="ExpertLink">
                                                                                                                            <xs:complexType>
                                                                                                                              <xs:simpleContent>
                                                                                                                                <xs:extension base="xs:string">
                                                                                                                                  <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                                                                </xs:extension>
                                                                                                                              </xs:simpleContent>
                                                                                                                            </xs:complexType>
                                                                                                                          </xs:element>
                                                                                                                          <xs:element name="Name">
                                                                                                                            <xs:complexType>
                                                                                                                              <xs:simpleContent>
                                                                                                                                <xs:extension base="xs:string">
                                                                                                                                  <xs:attribute name="lang" type="xs:string" use="required" />
                                                                                                                                </xs:extension>
                                                                                                                              </xs:simpleContent>
                                                                                                                            </xs:complexType>
                                                                                                                          </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                        <xs:attribute name="id" type="xs:integer" use="required" />
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                    <xs:element name="ClassificationNodeChildList">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:simpleContent>
                                                                                                                          <xs:extension base="xs:string">
                                                                                                                            <xs:attribute name="count" type="xs:integer" use="required" />
                                                                                                                          </xs:extension>
                                                                                                                        </xs:simpleContent>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                  </xs:sequence>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute name="count" type="xs:integer" use="required" />
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                      </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute name="count" type="xs:integer" use="required" />
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="count" type="xs:integer" use="required" />
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="count" type="xs:integer" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="count" type="xs:integer" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="count" type="xs:integer" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="count" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="count" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="date" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="copyright" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>