Rare diseases with associated phenotypes/img/fair/product1_xsd_valid.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="JDBOR">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="DisorderList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Disorder" minOccurs="1" maxOccurs="unbounded">
							<xsd:complexType mixed="true">
								<xsd:sequence>
									<xsd:element name="OrphaNumber" type="xsd:integer" minOccurs="1" maxOccurs="unbounded"></xsd:element>
									<xsd:element name="ExpertLink" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="xsd:string">
													<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>		
									</xsd:element>								
									<xsd:element name="Name" minOccurs="1" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="xsd:string">										
													<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
												</xsd:extension>
											</xsd:simpleContent>	
										</xsd:complexType>	
									</xsd:element>								
									<xsd:element name="DisorderFlagList" minOccurs="0" maxOccurs="unbounded" >
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="DisorderFlag" minOccurs="0" maxOccurs="unbounded">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="Label" type="xsd:string"></xsd:element>
																</xsd:sequence>	
																<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>	
													<xsd:attribute name="count" type="xsd:integer"></xsd:attribute>
												</xsd:complexType>
									</xsd:element>
									<xsd:element name="SynonymList" minOccurs="0" maxOccurs="unbounded">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="Synonym" minOccurs="0" maxOccurs="unbounded">
															<xsd:complexType>
																<xsd:simpleContent>
																	<xsd:extension base="xsd:string">
																		<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
																	</xsd:extension>
																</xsd:simpleContent>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>	
													<xsd:attribute name="count" type="xsd:integer"></xsd:attribute>
												</xsd:complexType>
									</xsd:element>
									<xsd:element name="DisorderType" minOccurs="1" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="OrphaNumber" type="xsd:integer"></xsd:element>
												<xsd:element name="Name">
													<xsd:complexType>
														<xsd:simpleContent>
															<xsd:extension base="xsd:string">													
																<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
															</xsd:extension>
														</xsd:simpleContent>												
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="ExternalReferenceList" minOccurs="1" maxOccurs="unbounded" >
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="ExternalReference" minOccurs="0" maxOccurs="unbounded" >
													<xsd:complexType mixed="true">
														<xsd:sequence>
															<xsd:element name="Source" type="xsd:string"></xsd:element>
															<xsd:element name="Reference" type="xsd:string"></xsd:element>
															<xsd:element name="DisorderMappingRelation" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																			<xsd:element name="OrphaNumber" type="xsd:integer"></xsd:element>
																			<xsd:element name="Name">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string">													
																							<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
																						</xsd:extension>
																					</xsd:simpleContent>												
																				</xsd:complexType>
																			</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="DisorderMappingICDRelation" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="OrphaNumber" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"></xsd:element>
																		<xsd:element name="Name" minOccurs="0" maxOccurs="unbounded">
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">													
																						<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>												
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="DisorderMappingValidationStatus" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="OrphaNumber" type="xsd:integer"></xsd:element>
																		<xsd:element name="Name">
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">													
																						<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>												
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
																</xsd:complexType>
															</xsd:element>														
														</xsd:sequence>
														<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>	
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="count" type="xsd:integer"></xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="DisorderDisorderAssociationList" minOccurs="1" maxOccurs="unbounded" >
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="DisorderDisorderAssociation" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="Disorder1" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="OrphaNumber" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"></xsd:element>
																		<xsd:element name="Name" minOccurs="0" maxOccurs="unbounded">
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">													
																						<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>												
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
																	<xsd:attribute name="cycle" type="xsd:string" use="optional" default="true" ></xsd:attribute>
																</xsd:complexType>
																<!--
																An attribute "cycle=true" is added in the case of an auto-reference of a parent-disorder or a child-disorder for a same concept in order to avoid creating a loop. In this case, the Name and Orphanumber of parent-disorder or child-disorder are not displayed again.
																-->
															</xsd:element>
															<xsd:element name="Disorder2" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="OrphaNumber" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"></xsd:element>
																		<xsd:element name="Name" minOccurs="0" maxOccurs="unbounded">
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">													
																						<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>												
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
																	<xsd:attribute name="cycle" type="xsd:string" use="optional" default="true" ></xsd:attribute>
																</xsd:complexType>
																<!--
																An attribute "cycle=true" is added in the case of an auto-reference of a parent-disorder or a child-disorder for a same concept in order to avoid creating a loop. In this case, the Name and Orphanumber of parent-disorder or child-disorder are not displayed again.
																-->
															</xsd:element>
															<xsd:element name="DisorderDisorderAssociationType" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="Name">
																			<xsd:complexType>
																				<xsd:simpleContent>
																					<xsd:extension base="xsd:string">													
																						<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
																					</xsd:extension>
																				</xsd:simpleContent>												
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
																	<!--
																	Defines the association between Disorder1 and Disorder2. 
																	The relation goes Disorder2 to Disorder1.
																	Exemples: Disorder2 "moved to" Disorder1 ; Disorder2 "referred to" Disorder1.
																	-->
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
											<xsd:attribute name="count" type="xsd:integer"></xsd:attribute>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="TextualInformationList" minOccurs="1" maxOccurs="unbounded" >
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="TextualInformation" minOccurs="0" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="TextSectionList" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="TextSection" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="TextSectionType" minOccurs="0" maxOccurs="unbounded">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Name" minOccurs="0" maxOccurs="unbounded">
																										<xsd:complexType>
																											<xsd:simpleContent>
																												<xsd:extension base="xsd:string">													
																													<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
																												</xsd:extension>
																											</xsd:simpleContent>												
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																								<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="Contents" type="xsd:string"></xsd:element>
																					</xsd:sequence>
																					<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
																					<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>											
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																		<xsd:attribute name="count" type="xsd:integer"></xsd:attribute>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
															<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>
															<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
														</xsd:complexType>
													</xsd:element>	
												</xsd:sequence>
												<xsd:attribute name="count" type="xsd:integer"></xsd:attribute>
											</xsd:complexType>
									</xsd:element>
									<xsd:element name="TextAuto" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Info" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:simpleContent>
															<xsd:extension base="xsd:string">													
																<xsd:attribute name="lang" type="xsd:string"></xsd:attribute>
															</xsd:extension>
														</xsd:simpleContent>												
													</xsd:complexType>
											</xsd:element>										
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>		
								<xsd:attribute name="id" type="xsd:integer"></xsd:attribute>						
							</xsd:complexType>
						</xsd:element>	
					</xsd:sequence>
					<xsd:attribute name="count" type="xsd:integer"></xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="date" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="copyright" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
</xsd:element>
</xsd:schema>