Rare diseases with associated phenotypes/img/fair/DTA/product6.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JDBOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DrugRegulatoryStatusList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="DrugRegulatoryStatus">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="PSOIEUrl" type="xs:string" />
                    <xs:element name="AdminZone">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="lang" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PersonList">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Person">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Firstname" type="xs:string" />
                                <xs:element name="Lastname" type="xs:string" />
                                <xs:element name="PersonActivityList">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="PersonActivity">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="PersonFunction">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Type" type="xs:string" />
                                                  <xs:element name="Name">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="lang" type="xs:string" use="required" />
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:integer" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="count" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="count" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DisorderList">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Disorder">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="OrphaNumber" type="xs:integer" />
                                <xs:element name="Name">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="lang" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="count" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DrugActivityDisorderList">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="DrugActivityDisorder">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="DrugTradeName">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="SubstanceList">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Substance">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Code" type="xs:string" />
                                                  <xs:element name="ChemicalName" type="xs:string" />
                                                  <xs:element name="Inn" type="xs:string" />
                                                  <xs:element name="ProductType">
                                                    <xs:complexType>
                                                      <xs:sequence minOccurs="0">
                                                        <xs:element name="Name">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute name="lang" type="xs:string" use="required" />
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="id" type="xs:integer" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="ProductionType">
                                                    <xs:complexType>
                                                      <xs:sequence minOccurs="0">
                                                        <xs:element name="Name">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute name="lang" type="xs:string" use="required" />
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="id" type="xs:integer" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Name">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="lang" type="xs:string" use="required" />
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:integer" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="count" type="xs:integer" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Substance">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Code" type="xs:string" />
                                      <xs:element name="ChemicalName" type="xs:string" />
                                      <xs:element name="Inn" type="xs:string" />
                                      <xs:element name="ProductType">
                                        <xs:complexType>
                                          <xs:sequence minOccurs="0">
                                            <xs:element name="Name">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="lang" type="xs:string" use="required" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:integer" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="ProductionType">
                                        <xs:complexType>
                                          <xs:sequence minOccurs="0">
                                            <xs:element name="Name">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="lang" type="xs:string" use="required" />
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:integer" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Name">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="lang" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ATCCode" type="xs:string" />
                                <xs:element name="EUNumber" type="xs:string" />
                                <xs:element name="MADate" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="count" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Abstract" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="date" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="copyright" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>